@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  color: wheat;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body{
  background: linear-gradient(135deg, #1e144f 0%, #0d1a33 100%)
}

